<html>
<head>
    <title>File Decryption Tool</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h2><p class="title">Upload Encrypted File to Decrypt:</p></h2>

<br><br>
<form action="/decrypt" method="post" enctype="multipart/form-data">
    <div class="file-container1">
    <input type="file" name="file" required>
    </div>
    <button type="submit">Decrypt File</button>
</form>

<br>
<p class="desc1"><a href="/" class="link1">Go back to Encrypt Page</a></p>

</body>
</html>
